# Code for America Fellowship Application

Python script to load and summarize a building code violations dataset:
Violations-2012.csv.  Summary calculations include determining the number of
violations in each category, and the earliest and latest violation date for
each category.

By Holly Davis for the Code for America Fellowship Application.

Last update: July 15, 2016

In [1]:
import pandas as pd

Read in data file, Violations-2012.csv.

In [2]:
df = pd.read_csv('Violations-2012.csv')

Take a quick look at the first 5 rows of data.

In [3]:
df.head()

,violation_id,inspection_id,violation_category,violation_date,violation_date_closed,violation_type
0,204851,261019,Garbage and Refuse,2012-01-03 00:00:00,2012-02-02 00:00:00,Refuse Accumulation
1,204852,261019,Unsanitary Conditions,2012-01-03 00:00:00,2012-02-02 00:00:00,"Unsanitary conditions, not specified"
2,204853,261023,Garbage and Refuse,2012-01-03 00:00:00,2012-01-17 00:00:00,Refuse Accumulation
3,204854,261023,Garbage and Refuse,2012-01-03 00:00:00,2012-01-17 00:00:00,Refuse Accumulation
4,204858,261029,Garbage and Refuse,2012-01-03 00:00:00,2012-03-12 00:00:00,Refuse Accumulation

Looking at the last 5 rows:

In [4]:
df.tail()

,violation_id,inspection_id,violation_category,violation_date,violation_date_closed,violation_type
540,230524,295677,Animals and Pests,2012-12-20 00:00:00,2013-01-23 00:00:00,Mice
541,230525,295677,Retail Food,2012-12-20 00:00:00,2013-01-23 00:00:00,Moderate risk food holding temperature
542,230543,295705,Building Conditions,2012-12-26 00:00:00,2013-01-31 00:00:00,No or inadequate hot or cold water
543,230544,295705,Building Conditions,2012-12-26 00:00:00,2013-01-31 00:00:00,Non-functioning Smoke Detector
544,232528,298128,Animals and Pests,2012-11-01 00:00:00,2012-11-15 00:00:00,Cockroaches

Create a new DataFrame, df_stats, to store the summarized data.

In [5]:
df_stats = pd.DataFrame(columns=('count_of_category', 'earliest_date', 'latest_date'))

Calculate the summary data.

In [6]:
df_stats['count_of_category'] = df.groupby('violation_category')['violation_category'].count()
df_stats['earliest_date'] = df.groupby('violation_category')['violation_date'].min()
df_stats['latest_date'] = df.groupby('violation_category')['violation_date'].max()

View the summary DataFrame.

In [7]:
df_stats

,count_of_category,earliest_date,latest_date
violation_category,,,
Air Pollutants and Odors,2,2012-12-05 00:00:00,2012-12-19 00:00:00
Animals and Pests,180,2012-01-03 00:00:00,2012-12-28 00:00:00
Biohazards,7,2012-04-13 00:00:00,2012-12-18 00:00:00
Building Conditions,62,2012-01-12 00:00:00,2012-12-26 00:00:00
Chemical Hazards,17,2012-02-08 00:00:00,2012-12-06 00:00:00
Garbage and Refuse,126,2012-01-03 00:00:00,2012-12-21 00:00:00
Retail Food,1,2012-12-20 00:00:00,2012-12-20 00:00:00
Unsanitary Conditions,83,2012-01-03 00:00:00,2012-12-19 00:00:00
Vegetation,67,2012-02-01 00:00:00,2012-12-05 00:00:00

Export the summary data to the "summary_violations.csv" file for future use.

In [8]:
df_stats.to_csv('summary_violations.csv')